<ion-content [fullscreen]="true">
  <app-header></app-header>
  <!-- Imagen de fondo -->
  <div class="background-image"></div>
  <!-- Contenedor de login -->
  <div class="login-fixed-bottom" *ngIf="screen === 'signin'">
    <h2 class="login-title">INICIAR SESIÓN</h2>
    <form [formGroup]="formData">
      <ion-item lines="none" class="custom-item">
        <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-item">
        <ion-input formControlName="password" type="password" placeholder="Contraseña"> <ion-input-password-toggle
            slot="end"></ion-input-password-toggle></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-login" (click)="login()">Continuar</ion-button>

      <div class="extra-options">
        <p class="text-register">¿No tienes cuenta? <a (click)="change('signup')">¡Regístrate aquí!</a></p>
        <p class="text-forget"><a (click)="change('forget')">¿Olvidaste tu contraseña?</a></p>
        <p class="version">Versión 1.0.0 / Creado por <span class="bioonix">Bioonix</span></p>
      </div>
    </form>
  </div>
</ion-content>