<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="goBack()" class="back-button-no-icon">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title class="logo-title">
      <img src="assets/BlancoNegroLogo.svg" alt="Logo" />
    </ion-title>

    <!-- Botón para abrir el menú -->
    <ion-buttons slot="end"  *ngIf="showBackButton">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

