.custom-content {
    padding: 1rem;
  }
  
  .form-padding {
    padding: 1rem;
  }
  
  .span-registro {
    font-size: 1.5rem;
    color: var(--ion-color-primary);
    font-weight: bold;
  }
  
  .itemcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .custominput {
    --background: #fff;
  }
  