<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ionic.starter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name="io.ionic.starter.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

 

            <!-- Geolocalización -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

        <!-- Cámara -->
        <uses-permission android:name="android.permission.CAMERA" />

        <!-- Micrófono -->
        <uses-permission android:name="android.permission.RECORD_AUDIO" />

        <!-- Almacenamiento (lectura y escritura) -->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


        <!-- Para acceder al estado de red (Wi-Fi / datos móviles) -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

            <!-- Para obtener información de la red Wi-Fi actual -->
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

            <!-- Para acceder al SSID en Android 10+ -->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


        <!-- Brújula: no requiere permiso explícito, se accede a través de sensores -->

</manifest>
