<ion-header>
  <ion-toolbar>
    <ion-title>Buscar destino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange()" debounce="120" placeholder="Buscar..."></ion-searchbar>

  <ion-list *ngIf="filteredList.length > 0 && !isLoading">
    <ion-item *ngFor="let item of filteredList" (click)="close(item)">
      <ion-badge slot="end">{{ item.rutaid.nombre}}</ion-badge>
      <ion-label> {{ item.nombre }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="isLoading && filteredList != 0" class="text-center">
    <ion-label>Consultando paradas</ion-label>
    <ion-spinner name="dots"></ion-spinner>
  </ion-item>
  
</ion-content>
