<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-content class="custom-menu">
      <!-- Header con fondo degradado -->
      <div class="menu-header">
        <ion-avatar>
          <img [src]="imagen" alt="{{ userData?.user_nombre }}" />
        </ion-avatar>
        <div class="menu-username">
          {{ userData?.user_nombre?.toUpperCase() }}
        </div>
      </div>

      <!-- Lista de opciones -->
      <div class="menu-contendor">
        <ion-list lines="none">
          <ion-item button routerLink="/perfil" class="menu-item">
            <ion-label>Mi perfil</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item button routerLink="/notificaciones" class="menu-item">
            <ion-label>Notificaciones</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item button routerLink="/reporte-salidas" class="menu-item">
            <ion-label>Reporte de salidas</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item button routerLink="/reporte-dia" class="menu-item">
            <ion-label>Reporte del día</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item button (click)="handleAction('logout')" class="menu-item">
            <ion-label>Salir</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <!-- Footer -->
      <div class="menu-footer">
        <div>Versión 2.2.0</div>
        <div>Creado por <span class="bioonix">Bioonix</span></div>
      </div>
    </ion-content>
  </ion-menu>


  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>